.wrapper {
  display: flex;
}

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .main {
  flex: 1;
  padding: 20px;
} */

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  align-items: center;
  min-height: 100vh;

  padding: 24.5px 20px 21px 20px;

  /* @media (min-width: 640px) {
    padding-bottom: 40px;
  }

  @media (min-width: 1024px) {
    padding-bottom: 60px;
  } */
}
